// $shadow {
//   border: 1px solid;
//   padding: 10px;
//   box-shadow: 5px 10px #888888;
// }
* {
  box-sizing: border-box;
}
body {
  background-image: url('../images/bg.jpg');
}

nav li {
  list-style: none;
  background-color: #A63634;
  font-size: 1.2rem;
  color: white;
  margin: 10px;
  text-align: center;
}
nav ul {
  padding: 0px;
}

.headerp {
  text-align: right;
}

.fab, .fas {
  font-size: 4rem;
  padding: 0px;
  display: inline-block;
}

//
.fa-facebook-square {
  color: #475893;
}
.fa-rss-square{
  color: #C39246
}

.fa-twitter-square {
  color:#708DC2
}

.fa-youtube-square{
  color:#A54134
}







///////////////////slider

#header {
  border: solid 10px white;
  position: relative;
}
#header img{
  margin-top: -10%;
margin-bottom: -22%;
}
.three-art section{
  margin-left:10px;
}

.overlay {
  position: absolute;
  top: 0;
  opacity: .5;
}

.logo {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 1%;
}
//////////////////////////////////////////ARTICLE
.skatearticle section {
  background-color: white;
  margin: 10px;
  padding: 30px
}
h2 {
  font-size: 1.5rem;
}
.article-p {
  font-size: .75rem;
}
.btn-read {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: .5rem;
  color: #A63634;
  border-left: solid 3px #A63634;
  border-right: solid 3px #A63634;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 36%;
}

.skateface {
  margin-bottom: -55px;
}

.skateface img{
  border: solid 5px white;
  width: 100%;
}
.right-side img{
  height: 87%;
}

.img1 {
  margin-bottom: 10px;
}

.skate {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skateboards {
background-color: transparent;
margin-bottom: 2%;
margin-top: 2%;
}
.skateboards img {
  // display: inline-block;
  transform: rotate(90deg);
  margin-left: -100px;
  margin-right: -100px
}
///////////////////////////////////////////////FORUM
.forum-skate{
  padding-right: 20px;
}

.forum {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 50px;
}

.btn-submit  {
  background-color: #A63634;
  color: white;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin-top: 10px;
//why don't margin auto work here
}

//transform orgin

@media (max-width: 1000px) {
  .skateboards img  {
  transform: rotate(0deg);
  margin:5%;
  }

}
